<div class="ew-brand-area ew-brand-2-area pb-124">
    <div class="container container-1617">
        <div class="row">
            <div class="col-lg-12">
                <div class="ew-brand-wrappere">
                    {% if module.brands and module.brands|length > 0 %}
                        {% for item in module.brands %}
                            {% set default_filename = 'white-logo' ~ (loop.index if loop.index > 1 else '') ~ '.png' %}
                            {% set logo_src = item.logo_image.src if item.logo_image.src else get_asset_url('../../images/brand/' ~ default_filename) %}
                            {% set alt_text = item.brand_name if item.brand_name else 'brand' %}
                            
                            <div class="ew-brand-box">
                                {% if item.link_url.url.href %}
                                    {% set href = item.link_url.url.href %}
                                    {% set target = '_blank' if item.link_url.open_in_new_tab else '_self' %}
                                    <a href="{{ href }}" target="{{ target }}">
                                        <img src="{{ logo_src }}" alt="{{ alt_text }}">
                                    </a>
                                {% else %}
                                    <img src="{{ logo_src }}" alt="{{ alt_text }}">
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="ew-brand-box">
                            <img src="{{ get_asset_url('../../images/brand/white-logo.png') }}" alt="brand">
                        </div>
                        <div class="ew-brand-box">
                            <img src="{{ get_asset_url('../../images/brand/white-logo2.png') }}" alt="brand">
                        </div>
                        <div class="ew-brand-box">
                            <img src="{{ get_asset_url('../../images/brand/white-logo3.png') }}" alt="brand">
                        </div>
                        <div class="ew-brand-box">
                            <img src="{{ get_asset_url('../../images/brand/white-logo4.png') }}" alt="brand">
                        </div>
                        <div class="ew-brand-box">
                            <img src="{{ get_asset_url('../../images/brand/white-logo5.png') }}" alt="brand">
                        </div>
                        <div class="ew-brand-box">
                            <img src="{{ get_asset_url('../../images/brand/white-logo6.png') }}" alt="brand">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
