<!--
  templateType: page
  isAvailableForNewContent: true
  label: About
  screenshotPath: ../images/template-previews/about.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

<main>

    <!-- Breadcumb Area Start -->
    <section class="ew-breadcumb-area pt-160 pb-100" data-background="{{ get_asset_url('../images/breadcumb/bg.jpg') }}" style="background-image: url('{{ get_asset_url('../images/breadcumb/bg.jpg') }}');">
        <div class="container container-1617">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ew-breadcumb-box">
                        <div class="ew-breadcumb-text">
                            <h2>About Us</h2>
                            <span> Home <strong><i class="fa-sharp fa-regular fa-angles-right"></i> About Us</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ew-breadcumb-shape">
            <img src="{{ get_asset_url('../images/breadcumb/shape.png') }}" alt="shape">
        </div>
    </section>
    <!-- Breadcumb Area End -->

    <!-- About area start -->
    <section class="ew-about-area pt-130 pb-124">
        <div class="container container-1617">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ew-section-title">
                        <span>About Company</span>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ew-about-text">
                        <h2>A Full-Service Digital Agency Dedicated to Outstanding Brand Experiences.</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ew-about-shape">
                        <img src="{{ get_asset_url('../images/about/shape.png') }}" alt="shape">
                        <div class="ew-about-text3">
                            <h3>20+</h3>
                            <span>Years Of Experience</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ew-about-box">
                        <div class="ew-about-img">
                            <img src="{{ get_asset_url('../images/about/about-1.jpg') }}" alt="about">
                            <img class="ew-about-img2" src="{{ get_asset_url('../images/about/about-2.jpg') }}" alt="about">
                        </div>
                        <div class="ew-about-main">
                            <img src="{{ get_asset_url('../images/about/about-3.png') }}" alt="about">
                            <h1>3.2 M</h1>
                            <h2>300+ Happy Clients</h2>
                            <p>Identify key barriers that prevent your business from reaching its full potential. Addressing these issues transforms your path to success.</p>
                        </div>
                    </div>                                
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Brand area start -->
    {% module "brand_logos"
      path="../modules/brand-logos",
      label="Brand Logos",
      style_variant="light_bg"
    %}
    <!-- Brand area end -->

    <!-- Video area Start -->
    <div class="ew-video-area" data-background="{{ get_asset_url('../images/video/bg.jpg') }}" style="background-image: url('{{ get_asset_url('../images/video/bg.jpg') }}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ew-video-icon">
                        <div class="ew-video-icon-inner">
                            <a class="popup-video ew-about-playbtn" href="https://www.youtube.com/watch?v=MLpWrANjFbI"><i class="fa-solid fa-play"></i></a>
                            <div class="ew-video-shape">
                                <img class="rotate2" src="{{ get_asset_url('../images/video/shape.png') }}" alt="shape">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video area End -->

    <!-- Counter Area Start -->
    <section class="ew-counter-area pt-130 pb-124">
        <div class="container container-1617">
            <div class="ew-counter-wrapper">
                <div class="ew-counter-wrapper-box">
                    <div class="ew-counter-box">
                        <div class="ew-counter-text">
                            <h1 data-purecounter-duration="1" data-purecounter-end="28" class="purecounter">28</h1>
                            <h2>K</h2>
                            <span>Projects Completed</span>
                        </div>
                    </div>
                    <div class="ew-counter-box counter-mt">
                        <div class="ew-counter-text">
                            <h1 data-purecounter-duration="1" data-purecounter-end="9" class="purecounter">9</h1>
                            <h2>K+</h2>
                            <span>Happy Customers</span>
                        </div>
                    </div>
                    <div class="ew-counter-box counter-mt">
                        <div class="ew-counter-text">
                            <h1 data-purecounter-duration="1" data-purecounter-end="18" class="purecounter">18</h1>
                            <h2>+</h2>
                            <span>Years Experience</span>
                        </div>
                    </div>
                    <div class="ew-counter-box counter-mt">
                        <div class="ew-counter-text">
                            <h1 data-purecounter-duration="1" data-purecounter-end="98" class="purecounter">98</h1>
                            <span>Award Achievements</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Area End -->

</main>

{% endblock body %}