<!--
  templateType: page
  isAvailableForNewContent: true
  label: Portfolio
  screenshotPath: ../images/template-previews/portfolio.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

<main>

    {# Breadcrumb Banner Module #}
    {% module "portfolio_breadcrumb" path="../modules/breadcrumb.module" label="Breadcrumb Banner", title="Portfolio Grid", current_page_title="Portfolio Grid" %}

    <!-- Portfolio Area Start -->
    <div class="ew-project-3-bg2 pt-75 pb-124">
        <div class="container container-1617">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ew-project-3-box">
                        <div class="ew-project-3-thumb portfolio-radius ew-portfolio-thumb-height3 si_fade_anim fix not-hide-cursor" data-cursor="View<br>Demo">
                            <a class="cursor-hide img-cover" href="/portfolio-details"><img data-speed=".8" src="{{ get_asset_url('../images/project/img8.jpg') }}" alt="project"></a>
                        </div>
                        <div class="ew-project-3-text">
                            <h3><a class="underline-black" href="/portfolio-details">Brand Refresh for UrbanSpace</a></h3>
                            <span>Tagline Creation</span>
                            <span>Web design</span>
                            <span>Unique Visual Identity</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ew-project-3-box">
                        <div class="ew-project-3-thumb portfolio-radius ew-portfolio-thumb-height3 si_fade_anim fix not-hide-cursor" data-cursor="View<br>Demo">
                            <a class="cursor-hide img-cover" href="/portfolio-details"><img data-speed=".8" src="{{ get_asset_url('../images/project/img9.jpg') }}" alt="project"></a>
                        </div>
                        <div class="ew-project-3-text">
                            <h3><a class="underline-black" href="/portfolio-details">New Look for Apex Fitness</a></h3>
                            <span>Tagline Creation</span>
                            <span>Web design</span>
                            <span>Unique Visual Identity</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ew-project-3-box">
                        <div class="ew-project-3-thumb portfolio-radius ew-portfolio-thumb-height3 si_fade_anim fix not-hide-cursor" data-cursor="View<br>Demo">
                            <a class="cursor-hide img-cover" href="/portfolio-details"><img data-speed=".8" src="{{ get_asset_url('../images/project/img10.jpg') }}" alt="project"></a>
                        </div>
                        <div class="ew-project-3-text">
                            <h3><a class="underline-black" href="/portfolio-details">Digital Revamp for Luxe Living</a></h3>
                            <span>Tagline Creation</span>
                            <span>Web design</span>
                            <span>Unique Visual Identity</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ew-project-3-box">
                        <div class="ew-project-3-thumb portfolio-radius ew-portfolio-thumb-height3 si_fade_anim fix not-hide-cursor" data-cursor="View<br>Demo">
                            <a class="cursor-hide img-cover" href="/portfolio-details"><img data-speed=".8" src="{{ get_asset_url('../images/project/img11.jpg') }}" alt="project"></a>
                        </div>
                        <div class="ew-project-3-text">
                            <h3><a class="underline-black" href="/portfolio-details">Kinetic Sandscapes</a></h3>
                            <span>Tagline Creation</span>
                            <span>Web design</span>
                            <span>Unique Visual Identity</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ew-project-3-box">
                        <div class="ew-project-3-thumb portfolio-radius ew-portfolio-thumb-height3 si_fade_anim fix not-hide-cursor" data-cursor="View<br>Demo">
                            <a class="cursor-hide img-cover" href="/portfolio-details"><img data-speed=".8" src="{{ get_asset_url('../images/project/img12.jpg') }}" alt="project"></a>
                        </div>
                        <div class="ew-project-3-text">
                            <h3><a class="underline-black" href="/portfolio-details">Minimalist Architecture Concept</a></h3>
                            <span>Tagline Creation</span>
                            <span>Web design</span>
                            <span>Unique Visual Identity</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Area End -->

</main>

{% endblock body %}
