<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pricing
  screenshotPath: ../images/template-previews/pricing.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

<main>

    <!-- Breadcumb Area Start -->
    <section class="ew-breadcumb-area pt-160 pb-100" data-background="{{ get_asset_url('../images/breadcumb/bg.jpg') }}" style="background-image: url('{{ get_asset_url('../images/breadcumb/bg.jpg') }}');">
        <div class="container container-1617">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ew-breadcumb-box">
                        <div class="ew-breadcumb-text">
                            <h2>Pricing Plan</h2>
                            <span> Home <strong><i class="fa-sharp fa-regular fa-angles-right"></i> Pricing Plan</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ew-breadcumb-shape">
            <img src="{{ get_asset_url('../images/breadcumb/shape.png') }}" alt="shape">
        </div>
    </section>
    <!-- Breadcumb Area End -->

    <!-- Pricing area start -->
    <section class="ew-pricing-area pt-124 pb-130">
        <div class="container container-1617">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ew-pricing-box ew-pricing-border pricing-bg-white">
                        <div class="ew-pricing-text ew-pricing-text2">
                            <h2>Basic Plan</h2>
                            <span>Ideal for startups or individual projects.</span>
                            <h3>$99.00 <span>/Monthly</span></h3>
                        </div>
                        <div class="ew-pricing-list pricing-bg-list">
                            <ul>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Access basic features</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Work customization</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Mobile and desktop</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Access design assets</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Standard support</li>
                            </ul>
                            <a href="/contact">Go with this plan <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ew-pricing-box ew-pricing-border pricing-bg-white">
                        <div class="ew-pricing-text ew-pricing-text2">
                            <h2>Pro Plan</h2>
                            <span>Ideal for growing businesses and agencies.</span>
                            <h3>$199.00 <span>/Monthly</span></h3>
                        </div>
                        <div class="ew-pricing-list pricing-bg-list">
                            <ul>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Access all features</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Advanced customization</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Mobile and desktop</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Access premium design</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Priority 24/7 customer support</li>
                            </ul>
                            <a href="/contact">Go with this plan <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ew-pricing-box ew-pricing-border pricing-bg-white">
                        <div class="ew-pricing-text ew-pricing-text2">
                            <h2>Enterprise Plan</h2>
                            <span>Tailored solutions for large-scale enterprise needs.</span>
                            <h3>$399.00 <span>/Monthly</span></h3>
                        </div>
                        <div class="ew-pricing-list pricing-bg-list">
                            <ul>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Full suite access</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Dedicated manager</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Unlimited customization</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Custom UI/UX workflow</li>
                                <li><img src="{{ get_asset_url('../images/pricing/pricing-icon.svg') }}" alt="icon">Dedicated support team</li>
                            </ul>
                            <a href="/contact">Go with this plan <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing area end -->

    <!-- FAQ area start -->
    <section class="ew-faq-area pb-130">
        <div class="container container-1617">
            <div class="row">
                <div class="col-lg-5">
                    <div class="ew-section-title pb-78">
                        <span>question</span>
                        <h2 class="ew-text-revel-anim">Questions & Answers</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="ew-faq-box">
                        <div class="ew-faq-accordion-wrap">
                            <div class="accordion" id="accordionExample1">
                                <div class="accordion-items">
                                    <h2 class="accordion-header">
                                        <button class="accordion-buttons" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                            What Services Does Your Agency Offer?
                                            <span class="accordion-icon"></span>
                                        </button>
                                    </h2>
                                    <div id="collapseOne1" class="accordion-collapse collapse show" data-bs-parent="#accordionExample1">
                                        <div class="accordion-body">
                                            <p>We provide full-scale digital solutions including UI/UX Design, Web & Mobile Application Development, Branding, and Digital Marketing Strategy.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-items">
                                    <h3 class="accordion-header">
                                        <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                            How Long Does It Take To See Results?
                                            <span class="accordion-icon"></span>
                                        </button>
                                    </h3>
                                    <div id="collapseTwo2" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                        <div class="accordion-body">
                                            <p>Timeline depends on project scope, but typical design and development cycles range between 2 to 6 weeks.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-items">
                                    <h3 class="accordion-header">
                                        <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                            Do You Work With Businesses Of All Sizes?
                                            <span class="accordion-icon"></span>
                                        </button>
                                    </h3>
                                    <div id="collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                        <div class="accordion-body">
                                            <p>Yes, we partner with early-stage startups, mid-market companies, and global enterprise brands alike.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ area end -->

</main>

{% endblock body %}
